#info{
    margin: auto;
    font-size: 11pt;
    width: 70%;
    text-align: center;
}
section{
    text-align: center;
}
section input{
    height: 35px;
    border-radius: 5px;
    border: none;
}
section button{
    width: 50%;
    height: 30px;
    margin-top: 15px;
}
aside{
    color: rgb(27, 26, 26);
}
aside fieldset{
    border-color: rgb(27, 26, 26);
    border-radius: 5px;
}
